<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhui.project.dal.mybatis.dao.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wenhui.project.dal.mybatis.dataobject.Orders">
        <id column="order_id" property="orderId"/>
        <result column="store_order" property="storeOrder"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_amount_total" property="orderAmountTotal"/>
        <result column="product_amount_total" property="productAmountTotal"/>
        <result column="shipping_code" property="shippingCode"/>
        <result column="address" property="address"/>
        <result column="address_id" property="addressId"/>
        <result column="close_time" property="closeTime"/>
        <result column="end_time" property="endTime"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="consign_time" property="consignTime"/>
        <result column="create_time" property="createTime"/>
        <result column="logistics_fee" property="logisticsFee"/>
        <result column="remark" property="remark"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="order_status" property="orderStatus"/>
        <result column="product_count" property="productCount"/>
        <result column="orderlogistics_id" property="orderlogisticsId"/>
        <result column="pay_channel" property="payChannel"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="user_id" property="userId"/>
        <result column="unpacking_time" property="unpackingTime"/>
    </resultMap>

    <resultMap id="OrdersListDtoList" type="com.wenhui.project.web.dto.OrdersListDto">
        <id column="order_id" property="orderId"/>
        <result column="store_order" property="storeOrder"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_status" property="orderStatus"/>
        <result column="button_name" property="buttonName"/>
        <result column="order_title" property="orderTitle"/>
        <collection property="orderGoodsListDto" ofType="com.wenhui.project.web.dto.OrderGoodsListDto"
                    javaType="ArrayList">
            <id column="order_detail_id" property="orderDetailId"/>
            <result column="goods_id" property="goodsId"/>
            <result column="product_name" property="productName"/>
            <result column="product_price" property="productPrice"/>
            <result column="number" property="number"/>
            <result column="product_thumb" property="productThumb"/>
        </collection>
    </resultMap>

    <resultMap id="AdminOrderBoxListDtoList" type="com.wenhui.project.web.dto.AdminOrderBoxListDto">
        <id column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="product_amount_total" property="productAmountTotal"/>
        <result column="payment_time" property="paymentTime"/>
        <result column="order_amount_total" property="orderAmountTotal"/>
        <result column="create_time" property="createTime"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="order_status_name" property="orderStatusName"/>
        <result column="order_status" property="orderStatus"/>
        <result column="channel_NAME" property="payChannelName"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="user_id" property="userId"/>
        <result column="pay_name" property="payName"/>
        <result column="pay_status" property="payStatus"/>
        <result column="product_name" property="productName"/>
        <result column="product_thumb" property="productThumb"/>
        <result column="product_price" property="productPrice"/>
        <result column="number" property="number"/>
        <result column="order_detail_id" property="orderDetailId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, store_order, order_no, order_amount_total, product_amount_total, shipping_code, address, address_id,
        close_time, end_time, payment_time, consign_time, create_time, logistics_fee, remark, created_at, updated_at,
        delete_flag, order_status, product_count, orderlogistics_id, pay_channel, out_trade_no, user_id, unpacking_time
    </sql>

    <select id="searchBoxOrder" resultMap="AdminOrderBoxListDtoList" parameterType="com.wenhui.project.web.dto.AdminOrderListDto">
        select * from adminorderboxlistdto
        <where>
            <if test="user_id!=null and user_id!=''">
               and user_id=#{user_id}
            </if>
            <if test="start_time!=null and start_time!=''">
                and  create_time &gt;= #{start_time}
            </if>
            <if test="end_time!=null and end_time!=''">
                and  create_time &lt;= #{end_time}
            </if>
             <if test="orderStatus!=null">
                 and order_status=#{orderStatus}
             </if>
        </where>
        ORDER BY order_status DESC
        LIMIT #{currentPage},#{size}
    </select>


    <select id="queryList" resultMap="OrdersListDtoList">
        select
        order_id,store_order,order_no,order_status,button_name,order_title,order_detail_id,goods_id,product_name,product_price,number,product_thumb
        from orderslistdtolist
        <where>
            <if test="typea != null and typea != 0 ">
                and order_status=#{typea}
            </if>
            <if test="uid != null and uid != 0 ">
                and user_id=#{uid}
            </if>
        </where>
    </select>

    <select id="searchBoxOrderDetail" resultType="com.wenhui.project.web.vo.AdminOrderBoxVo">
        select * from adminorderboxlistdto where order_id=#{orderId}
    </select>

</mapper>
