<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenhui.project.dal.mybatis.dao.StoreFreightRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wenhui.project.dal.mybatis.dataobject.StoreFreightRule">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="freight_type" property="freightType"/>
        <result column="freight_id" property="freightId"/>
        <result column="figure" property="figure"/>
        <result column="amount" property="amount"/>
        <result column="increase_figure" property="increaseFigure"/>
        <result column="increase_amount" property="increaseAmount"/>
        <result column="cond_figure" property="condFigure"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, freight_type, freight_id, figure, amount, increase_figure, increase_amount, cond_figure, created_at,
        updated_at
    </sql>

</mapper>
